<div>
  <ul class="nav">
    <li class="nav-item"><a class="nav-link active" routerLink="/login" routerLinkActive="active">Login to vault</a></li>
    <li class="nav-item"><a class="nav-link active" routerLink="/register" routerLinkActive="active">Register</a></li>
    <li class="nav-item"><a class="nav-link active" routerLink="/add" routerLinkActive="active">Add rule</a></li>
    <li class="nav-item"><a class="nav-link active" routerLink="/view" routerLinkActive="active">View rules</a></li>
    <li class="nav-item"><a class="nav-link active" routerLink="" routerLinkActive="active">Home</a></li>
  </ul>
</div>

<router-outlet></router-outlet>